/* Totally stole this code (which supports multiple browsers). But I did 
- remove style tags and put it in a separate css file
- changed the size and colors of the image
- changed the image text
- changed the number of pixels it travels, length of time and number of iterations 
Did this for homework assignment bonus - 4/27/2019 */

#animated_div {
width:74px;
height:34px;
background: #008000;
color: #ffffff;
position: relative;
font-weight:bold;
font-size:20px;
padding:10px;
animation:animated_div 5s 3;
-moz-animation:animated_div 5s 3;
-webkit-animation:animated_div 5s 3;
-o-animation:animated_div 5s 3;
border-radius:5px;
-webkit-border-radius:5px;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:700px;}
55% {transform: rotate(0deg);left:700px;background: purple;}
70% {transform: rotate(0deg);left:700px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:700px;}
55% {-webkit-transform: rotate(0deg);left:700px;background:purple}
70% {-webkit-transform: rotate(0deg);left:700px;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:700px;}
55%  {-moz-transform: rotate(0deg);left:700px;background:purple}
70%  {-moz-transform: rotate(0deg);left:700px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:700px;}
55%  {transform: rotate(0deg);left:700px;background:purple}
70%  {transform: rotate(0deg);left:700px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}
